<head>
  <link rel="manifest" href="/manifest.json">
</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/escritorio">
        <i class="fas fa-user fa-4x bg-dark p-2"></i>
          <h5 class="font-weight-bold">Maria Bely Salgado Roso</h5>
          <h6>Es un gusto tenerte</h6>
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link my-icon" routerLink="/escritorio">

              <i class="far fa-bell fa-2x"></i>
              <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter">7+</span>
              <h6>Notificaciones</h6>    

                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-icon" routerLink="/escritorio">
            
              <i class="far fa-lightbulb  fa-2x"></i>
              <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter">3+</span>
              <h6>Novedades</h6>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/escritorio">
            
              <i class="fas fa-arrow-left  fa-2x"></i>
              <!-- Counter - Alerts -->
              <h6>Somos Excelentes</h6>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            
              <i class="fas fa-door-open  fa-2x"></i>
              <!-- Counter - Alerts -->
              <h6>Cerrar Sesion</h6>

          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <h1 class="mt-4">"Somos lo que hacemos dia dia, de modo que la excelencia no es un acto sino un habito"</h1>
  <p class="font-italic">-Aristoteles</p>
</div>
<!-- /.container -->

<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-5">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Mis Apps</h5>
              <hr>
              <ul class="fa-ul">
                
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-md-6 mb-4">
        <div class="card border-0 shadow">
            <i class="fas fa-paw fa-5x mt-3 ml-auto mr-auto" style="color:rgba(179, 51, 0, 0.925)"></i>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Pinina My Pet</h5><br>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-md-6 mb-4">
        <div class="card border-0 shadow">
            <i class="fas fa-dog fa-5x mt-3 ml-auto mr-auto" style="color:rgba(238, 190, 58, 0.925)"></i>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Veterinaria Ejemplo</h5>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-md-6 mb-4">
        <div class="card border-0 shadow">
            <i class="fas fa-paperclip fa-5x mt-3 ml-auto mr-auto" style="color:rgb(228, 64, 165)"></i>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Relacional S.A.S</h5>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-md-6 mb-4">
        <div class="card border-0 shadow">
            <i class="fas fa-check-double fa-5x mt-3 ml-auto mr-auto" style="color:rgb(228, 64, 165)"></i>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Exacto S.A.S</h5><br>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
              </ul>
              <a routerLink="/escritorio" class="btn btn-block btn-primary text-uppercase">Ver Todas</a>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Apps Excelentes</h5>
              <hr>
              <ul class="fa-ul">
                <!-- Page Content -->
  <div class="container">
      <div class="row">
        <!-- Team Member 1 -->
        <div class="col-md-6 mb-4">
          <div class="card border-0 shadow">
              <i class="fas fa-chart-area fa-5x mt-3 ml-auto mr-auto" style="color:rgb(46, 140, 202)"></i>
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Contabilidad</h5><br>
            </div>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-md-6 mb-4">
          <div class="card border-0 shadow">
              <i class="fas fa-bone fa-5x mt-3 ml-auto mr-auto" style="color:rgb(0, 30, 201)"></i>
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Pinina</h5><br>
            </div>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-md-6 mb-4">
          <div class="card border-0 shadow">
              <i class="fas fa-sitemap fa-5x mt-3 ml-auto mr-auto" style="color:rgb(46, 140, 202)"></i>
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Talento Humano</h5>
            </div>
          </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-md-6 mb-4">
          <div class="card border-0 shadow">
              <i class="far fa-handshake fa-5x mt-3 ml-auto mr-auto" style="color:rgb(9, 148, 39)"></i>
            <div class="card-body text-center">
              <h5 class="card-title mb-0">GestionAR</h5><br>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    
    </div>
              </ul>
              <a routerLink="/escritorio" class="btn btn-block btn-primary text-uppercase">Ver Mas Apps</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="sticky-footer" class=" bg-primary text-white-50 fixed-bottom d-none">
      <div class="container text-center">
          <i class="far fa-bell fa-2x m-3">
              <span class="badge badge-danger badge-counter">7+</span>
          </i>
          
          <i class="fas fa-plus-circle fa-2x m-3"></i>
          <i class="far fa-lightbulb  fa-2x m-3">
              <span class="badge badge-danger badge-counter">3+</span>
          </i>
          
      </div>
    </footer>
    
