<head>
    <link rel="manifest" href="/manifest.json">
</head>
<button class="font-weight-bolder btn btn-outline-primary btn-lg" routerLink="/">Somos excelentes</button>

<div class="row">
    <div class="col-md-6 mx-auto my-container">
        <div class="card">
            <div class="card-body">
                <h1 class="font-weight-lighter text-center">Iniciar Sesión</h1>
                <form>
                    <div class="form-group">
                        <h3 class="font-weight-lighter text-center">Correo/Usuario</h3>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <h3 class="font-weight-lighter text-center">Contraseña</h3>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <input type="button" value="OK" class="btn btn-primary btn-block btn-lg" routerLink="/escritorio">
                </form>
            </div>
        </div>
    </div>
</div>